In [52]:
import pandas as pd

In [53]:
df_2015 = pd.read_csv("2015.csv")
df_2016 = pd.read_csv("2016.csv")
df_2017 = pd.read_csv("2017.csv")
df_2018 = pd.read_csv("2018.csv")
df_2019 = pd.read_csv("2019.csv")

In [55]:
# DROP EXCESS COLUMNS

df_2015 = df_2015.drop(columns=["Standard Error", "Family", "Freedom", "Trust (Government Corruption)", "Generosity", "Dystopia Residual"])
df_2016 = df_2016.drop(columns=["Lower Confidence Interval","Upper Confidence Interval", "Family", "Freedom", "Generosity", "Dystopia Residual", "Trust (Government Corruption)"])
df_2017 = df_2017.drop(columns=["Whisker.high","Whisker.low", "Family", "Freedom", "Generosity","Trust..Government.Corruption.","Dystopia.Residual"])
df_2018 = df_2018.drop(columns=["Social support","Freedom to make life choices", "Generosity", "Perceptions of corruption"])
df_2019 = df_2019.drop(columns=["Social support","Freedom to make life choices", "Generosity", "Perceptions of corruption"])

In [56]:
# RENAME COLUMNS

df_2015.rename(columns = {
    'Happiness Rank':'Overall rank',
    "Happiness Score":"Happiness Score",
    "Health (Life Expectancy)":"Life Expectancy",
    "Economy (GDP per Capita)":"GDP per capita"
}, inplace = True)

df_2016.rename(columns = {
    'Happiness Rank':'Overall rank',
    "Happiness Score":"Happiness Score",
    "Health (Life Expectancy)":"Life Expectancy",
    "Economy (GDP per Capita)":"GDP per capita"
}, inplace = True)

df_2017.rename(columns = {
    'Happiness.Rank':'Overall rank',
    "Happiness.Score":"Happiness Score",
    "Health..Life.Expectancy.":"Life Expectancy",
    "Economy..GDP.per.Capita.":"GDP per capita"
}, inplace = True)

df_2018.rename(columns = {
    'Country or region':'Country',
    'Happiness Rank':'Overall rank',
    "Score":"Happiness Score",
    "Healthy life expectancy":"Life Expectancy"}, inplace = True)

df_2019.rename(columns = {
    'Country or region':'Country',
    'Happiness Rank':'Overall rank',
    "Score":"Happiness Score",
    "Healthy life expectancy":"Life Expectancy"}, inplace = True)

In [57]:
# ADD REGION COLUMNS

df_2017.insert(2, "Region", "n/a", True)
df_2018.insert(2, "Region", "n/a", True)
df_2019.insert(2, "Region", "n/a", True)

In [58]:
# ADD YEAR COLUMNS

df_2015.insert(2, "Year", "2015", True)
df_2016.insert(2, "Year", "2016", True)
df_2017.insert(2, "Year", "2017", True)
df_2018.insert(2, "Year", "2018", True)
df_2019.insert(2, "Year", "2019", True)

In [59]:
# REINDEX COLUMNS

df_2015 = df_2015.reindex(columns= ['Country', 'Region', 'Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2016 = df_2016.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2017 = df_2017.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2018 = df_2018.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2019 = df_2019.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])

In [65]:
# decapitalise and underscore spaces

df_2015.columns = df_2015.columns.str.lower().str.replace(" ", "_")
df_2016.columns = df_2016.columns.str.lower().str.replace(" ", "_")
df_2017.columns = df_2017.columns.str.lower().str.replace(" ", "_")
df_2018.columns = df_2018.columns.str.lower().str.replace(" ", "_")
df_2019.columns = df_2019.columns.str.lower().str.replace(" ", "_")

In [66]:
# create a dictionary of country and region key pairs

country_region_dict = dict(zip(df_2015.country, df_2015.region))

In [71]:
# Title capitalise the region and country columns to formalise

df_2015.region.str.title()
df_2015.country.str.title()

df_2016.region.str.title()
df_2016.country.str.title()

df_2017.region.str.title()
df_2017.country.str.title()

df_2018.region.str.title()
df_2018.country.str.title()

df_2019.region.str.title()
df_2019.country.str.title()

0                       Finland
1                       Denmark
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
151                      Rwanda
152                    Tanzania
153                 Afghanistan
154    Central African Republic
155                 South Sudan
Name: country, Length: 156, dtype: object

In [72]:
# apply function to assign region values

df_2015["region"] = df_2015.apply(lambda row: country_region_dict.get(row["country"]), axis=1)
df_2016["region"] = df_2016.apply(lambda row: country_region_dict.get(row["country"]), axis=1)
df_2017["region"] = df_2017.apply(lambda row: country_region_dict.get(row["country"]), axis=1)
df_2018["region"] = df_2018.apply(lambda row: country_region_dict.get(row["country"]), axis=1)
df_2019["region"] = df_2019.apply(lambda row: country_region_dict.get(row["country"]), axis=1)

In [97]:
# concatenate dataframes

final_df = pd.concat([df_2015,df_2016,df_2017,df_2018,df_2019])

Estonia              5
Malawi               5
Mauritius            5
Georgia              5
Togo                 5
                    ..
Puerto Rico          1
Somaliland Region    1
North Macedonia      1
Djibouti             1
Oman                 1
Name: country, Length: 170, dtype: int64

In [104]:
# identify and remove countries that do no feature in each dataset

counts = final_df['country'].value_counts()
counts[counts > 4]
final_df = final_df[final_df['country'].isin(counts[counts > 4].index)]
final_df['country'].value_counts()

Estonia        5
Israel         5
Serbia         5
Mali           5
South Korea    5
              ..
Luxembourg     5
Portugal       5
Yemen          5
Iraq           5
Belgium        5
Name: country, Length: 141, dtype: int64

In [106]:
# export to csv

final_df.to_csv(r'C:\Users\Jtc\Desktop\visulisation_project_3\global_happiness_data.csv', index=False)

In [109]:
# group by country and mean values - this data will be used for the map visualisation

groupby = final_df.groupby("country", axis=0)

avg_df = groupby.mean()

             overall_rank  happiness_score  gdp_per_capita  life_expectancy
country
Afghanistan         149.4           3.5128        0.357113         0.254707
Albania             106.4           4.7126        0.938633         0.787696
Algeria              66.2           5.6676        1.012963         0.665057
Argentina            31.2           6.4594        1.111035         0.760895
Armenia             122.8           4.3932        0.839133         0.697851

In [110]:
# export to csv

avg_df.to_csv(r'C:\Users\Jtc\Desktop\visulisation_project_3\global_happiness_mean_values.csv', index=False)