In [156]:
import pandas as pd

In [157]:
df_2015 = pd.read_csv("2015.csv")
df_2016 = pd.read_csv("2016.csv")
df_2017 = pd.read_csv("2017.csv")
df_2018 = pd.read_csv("2018.csv")
df_2019 = pd.read_csv("2019.csv")

In [158]:
type(df_2017)

pandas.core.frame.DataFrame

In [159]:
# DROP EXCESS COLUMNS

df_2015 = df_2015.drop(columns=["Standard Error", "Family", "Freedom", "Trust (Government Corruption)", "Generosity", "Dystopia Residual"])
df_2016 = df_2016.drop(columns=["Lower Confidence Interval","Upper Confidence Interval", "Family", "Freedom", "Generosity", "Dystopia Residual", "Trust (Government Corruption)"])
df_2017 = df_2017.drop(columns=["Whisker.high","Whisker.low", "Family", "Freedom", "Generosity","Trust..Government.Corruption.","Dystopia.Residual"])
df_2018 = df_2018.drop(columns=["Social support","Freedom to make life choices", "Generosity", "Perceptions of corruption"])
df_2019 = df_2019.drop(columns=["Social support","Freedom to make life choices", "Generosity", "Perceptions of corruption"])

In [160]:
# RENAME COLUMNS

df_2015.rename(columns = {
    'Happiness Rank':'Overall rank',
    "Happiness Score":"Happiness Score",
    "Health (Life Expectancy)":"Life Expectancy",
    "Economy (GDP per Capita)":"GDP per capita"
}, inplace = True)

df_2016.rename(columns = {
    'Happiness Rank':'Overall rank',
    "Happiness Score":"Happiness Score",
    "Health (Life Expectancy)":"Life Expectancy",
    "Economy (GDP per Capita)":"GDP per capita"
}, inplace = True)

df_2017.rename(columns = {
    'Happiness.Rank':'Overall rank',
    "Happiness.Score":"Happiness Score",
    "Health..Life.Expectancy.":"Life Expectancy",
    "Economy..GDP.per.Capita.":"GDP per capita"
}, inplace = True)

df_2018.rename(columns = {
    'Country or region':'Country',
    'Happiness Rank':'Overall rank',
    "Score":"Happiness Score",
    "Healthy life expectancy":"Life Expectancy"}, inplace = True)

df_2019.rename(columns = {
    'Country or region':'Country',
    'Happiness Rank':'Overall rank',
    "Score":"Happiness Score",
    "Healthy life expectancy":"Life Expectancy"}, inplace = True)

In [162]:
# ADD REGION COLUMNS

df_2017.insert(2, "Region", "n/a", True)
df_2018.insert(2, "Region", "n/a", True)
df_2019.insert(2, "Region", "n/a", True)

In [164]:
# ADD YEAR COLUMNS

df_2015.insert(2, "Year", "2015", True)
df_2016.insert(2, "Year", "2016", True)
df_2017.insert(2, "Year", "2017", True)
df_2018.insert(2, "Year", "2018", True)
df_2019.insert(2, "Year", "2019", True)

In [166]:
# REINDEX COLUMNS

df_2015 = df_2015.reindex(columns= ['Country', 'Region', 'Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2016 = df_2016.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2017 = df_2017.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2018 = df_2018.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])
df_2019 = df_2019.reindex(columns= ['Country', 'Region','Year', 'Overall rank','Happiness Score','GDP per capita', 'Life Expectancy'])

In [167]:
df_2015.head()

,Country,Region,Year,Overall rank,Happiness Score,GDP per capita,Life Expectancy
0,Switzerland,Western Europe,2015,1,7.587,1.39651,0.94143
1,Iceland,Western Europe,2015,2,7.561,1.30232,0.94784
2,Denmark,Western Europe,2015,3,7.527,1.32548,0.87464
3,Norway,Western Europe,2015,4,7.522,1.45900,0.88521
4,Canada,North America,2015,5,7.427,1.32629,0.90563

In [168]:
df_2016.head()

,Country,Region,Year,Overall rank,Happiness Score,GDP per capita,Life Expectancy
0,Denmark,Western Europe,2016,1,7.526,1.44178,0.79504
1,Switzerland,Western Europe,2016,2,7.509,1.52733,0.86303
2,Iceland,Western Europe,2016,3,7.501,1.42666,0.86733
3,Norway,Western Europe,2016,4,7.498,1.57744,0.79579
4,Finland,Western Europe,2016,5,7.413,1.40598,0.81091

In [169]:
df_2017.head()

,Country,Region,Year,Overall rank,Happiness Score,GDP per capita,Life Expectancy
0,Norway,n/a,2017,1,7.537,1.616463,0.796667
1,Denmark,n/a,2017,2,7.522,1.482383,0.792566
2,Iceland,n/a,2017,3,7.504,1.480633,0.833552
3,Switzerland,n/a,2017,4,7.494,1.564980,0.858131
4,Finland,n/a,2017,5,7.469,1.443572,0.809158

In [170]:
df_2018.head()

,Country,Region,Year,Overall rank,Happiness Score,GDP per capita,Life Expectancy
0,Finland,n/a,2018,1,7.632,1.305,0.874
1,Norway,n/a,2018,2,7.594,1.456,0.861
2,Denmark,n/a,2018,3,7.555,1.351,0.868
3,Iceland,n/a,2018,4,7.495,1.343,0.914
4,Switzerland,n/a,2018,5,7.487,1.420,0.927

In [171]:
df_2019.head()

,Country,Region,Year,Overall rank,Happiness Score,GDP per capita,Life Expectancy
0,Finland,n/a,2019,1,7.769,1.340,0.986
1,Denmark,n/a,2019,2,7.600,1.383,0.996
2,Norway,n/a,2019,3,7.554,1.488,1.028
3,Iceland,n/a,2019,4,7.494,1.380,1.026
4,Netherlands,n/a,2019,5,7.488,1.396,0.999